<div>
    <div id="rev_slider_1073_1_wrapper" class="rev_slider_wrapper fullscreen-container" style="padding: 0;"
         data-alias="gym1"
         data-source="gallery">
        <div id="rev_slider_1073_1" class="rev_slider fullscreenbanner" style="display: none;"
             data-version="5.4.1">
            <ul>
                <!--Slide 1-->
                <li data-index="rs-3027"
                    data-transition="slideoververtical"
                    data-slotamount="default"
                    data-hideafterloop="0"
                    data-hideslideonmobile="off"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="1500"
                    data-thumb="~/Images/gym2-100x50.jpg"
                    data-rotate="0"
                    data-saveperformance="off"
                    data-title="Service">
                    <img class="rev-slidebg" src="~/Images/kubtel-new.jpg" alt="Image description"
                         data-bgposition="left center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <div id="slide-3027-layer-1" class="tp-caption Gym-Display tp-resizeme" style="z-index: 12; white-space: nowrap; font-family: 'Raleway'; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-185','-185','-185','-185']"
                         data-fontsize="['80','80','80','80']"
                         data-fontweight="['600','600','600','600']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        KUBtel
                    </div>
                    <div id="slide-3027-layer-2" class="tp-caption Gym-Display tp-resizeme" style="z-index: 13; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-visibility="['on','on','on','off']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-110','-110','-110','-110']"
                         data-fontsize="['30','30','30','30']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        WE ARE KUB TELEKOMUNIKASI SDN BHD
                    </div>
                    <div id="slide-3027-layer-3" class="tp-caption Gym-Display tp-resizeme" style="z-index: 13; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-visibility="['off','off','off','on']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-110','-110','-110','-110']"
                         data-fontsize="['30','30','30','30']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <h2>WE ARE KUB <br />TELEKOMUNIKASI SDN BHD</h2>
                    </div>
                    <div id="slide-3027-layer-4" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 14; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-50','-50','-50','-30']"
                         data-fontsize="['30','30','30','20']"
                         data-lineheight="['30','30','30','20']"
                         data-fontweight="['600','600','600','600']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        Our Company
                    </div>   
                    <div id="slide-3027-layer-5" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 14; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-visibility="['on','on','on','off']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['50','50','50','50']"
                         data-fontsize="['20','20','20','20']"
                         data-lineheight="['30','30','30','20']"
                         data-fontweight="['600','600','600','600']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        Utilising our unique and extensive range of ICT knowledge and global info, combined with<br />
                        the expert knowledge and experience of our people and partners, KUBtel strives to<br />
                        deliver an innovative and value driven ICT solution.
                    </div>  
                    <div id="slide-3027-layer-6" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 14; white-space: nowrap; font-size: 20px; font-weight: 300; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-visibility="['off','off','off','on']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['0','0','0','60']"
                         data-fontsize="['0','0','0','16']"
                         data-lineheight="['0','0','0','20']"
                         data-fontweight="['0','0','0','600']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        Utilising our unique and extensive<br />
                        range of ICT knowledge and global<br />
                        info, combined with the expert<br />
                        knowledge and experience of our<br />
                        people and partners, KUBtel strives<br /> 
                        to deliver an innovative and value<br />
                        driven ICT solution.
                    </div>           
                    <div id="slide-3027-layer-7" class="tp-caption Gym-Button rev-btn rev-maxround rev-hiddenicon" style="z-index: 10; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['180','180','180','180']"
                         data-fontsize="['20','20','20','20']"
                         data-lineheight="['30','30','30','30']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-actions='[
                     {"event":"click","action":"simplelink","target":"_self", "url":"@Url.Content("~/AboutUs")"}
                   ]'
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},
                     {"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 1.00);bs:solid;"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[12,12,12,12]"
                         data-paddingright="[35,35,35,35]"
                         data-paddingbottom="[12,12,12,12]"
                         data-paddingleft="[35,35,35,35]">
                        Learn More
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </li>               
                <li data-index="rs-3026"
                    data-transition="slideoververtical"
                    data-slotamount="default"
                    data-hideafterloop="0"
                    data-hideslideonmobile="off"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="1500"
                    data-thumb="~/Images/gym1-100x50.jpg"
                    data-rotate="0"
                    data-fstransition="fade"
                    data-fsmasterspeed="1500"
                    data-fsslotamount="7"
                    data-saveperformance="off"
                    data-title="Intro">
                    <img class="rev-slidebg" src="~/Images/KUBtel-Homepage.jpg" alt="Image description"
                         data-bgposition="top center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <div id="slide-3026-layer-2" class="tp-caption Gym-Display tp-resizeme" style="z-index: 13;  text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['-400','-400','-400','0']"
                         data-voffset="['130','130','130','-150']"
                         data-fontsize="['30','30','30','30']"
                         data-width="100%"
                         data-height="none"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
          {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
          {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
        ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <!-- End Heading -->
                        Vision &amp; Mission
                    </div>                   
                    <div id="slide-3026-layer-3" class="tp-caption Gym-Display tp-resizeme" style="z-index: 13;  text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['-400','-400','-400','0']"
                         data-voffset="['200','200','200','-70']"
                         data-fontsize="['20','20','20','16']"
                         data-lineheight="['30','30','30','30']"
                         data-fontweight="['600','600','600','600']"
                         data-width="100%"
                         data-height="none"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
          {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
          {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
        ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <!-- End Heading -->
                        We aspire to become premier ICT<br>
                        Solution Provider & System Integrator<br>
                        in Malaysia and Asian Region
                    </div>
                    <div id="slide-3026-layer-4" class="tp-caption Gym-Button rev-btn rev-maxround rev-hiddenicon" style="z-index: 10; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['-400','-400','-400','0']"
                         data-voffset="['300','300','300','30']"
                         data-fontsize="['20','20','20','20']"
                         data-lineheight="['30','30','30','30']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-actions='[
                     {"event":"click","action":"simplelink","target":"_self", "url":"@Url.Content("~/AboutUs/VisionMission")"}
                   ]'
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},
                     {"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 1.00);bs:solid;"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[12,12,12,12]"
                         data-paddingright="[35,35,35,35]"
                         data-paddingbottom="[12,12,12,12]"
                         data-paddingleft="[35,35,35,35]">
                        Learn More
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <div id="slide-3026-layer-5" class="tp-caption Gym-Display tp-resizeme" style="z-index: 13;  text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['400','400','400','0']"
                         data-voffset="['130','130','130','120']"
                         data-fontsize="['30','30','30','30']"
                         data-width="100%"
                         data-height="none"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
          {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
          {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
        ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <!-- End Heading -->
                        Our Expertise
                    </div>
                    <div id="slide-3026-layer-6" class="tp-caption Gym-Display tp-resizeme" style="z-index: 13;  text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-visibility="['on','on','on','off']"
                         data-hoffset="['400','400','400','0']"
                         data-voffset="['200','200','200','0']"
                         data-fontsize="['20','20','20','0']"
                         data-lineheight="['30','30','30','0']"
                         data-fontweight="['600','600','600','0']"
                         data-width="100%"
                         data-height="none"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
          {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
          {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
        ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <!-- End Heading -->
                        KUBtel seeks to fully understand our customers’<br />
                        needs to find the optimal solution to return<br />
                        value to our customers.                        
                    </div>  
                    <div id="slide-3026-layer-7" class="tp-caption Gym-Display tp-resizeme" style="z-index: 13;  text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-visibility="['off','off','off','on']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['0','0','0','200']"
                         data-fontsize="['0','0','0','16']"
                         data-lineheight="['0','0','0','30']"
                         data-fontweight="['0','0','0','600']"
                         data-width="100%"                         
                         data-height="none"
                         data-type="text"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
          {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
          {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
        ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        <!-- End Heading -->
                        KUBtel seeks to fully understand<br/>
                        our customers’ needs to find the<br/>
                        optimal solution to return value<br/>
                        to our customers.
                    </div>  
                    <div id="slide-3026-layer-8" class="tp-caption Gym-Button rev-btn rev-maxround rev-hiddenicon" style="z-index: 10; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['400','400','400','0']"
                         data-voffset="['300','300','300','300']"
                         data-fontsize="['20','20','20','20']"
                         data-lineheight="['30','30','30','30']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-actions='[
                     {"event":"click","action":"simplelink","target":"_self", "url":"@Url.Content("~/BizInfo/BizFocus")"}
                   ]'
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},
                     {"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 1.00);bs:solid;"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[12,12,12,12]"
                         data-paddingright="[35,35,35,35]"
                         data-paddingbottom="[12,12,12,12]"
                         data-paddingleft="[35,35,35,35]">
                        Learn More
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </li>
                <li data-index="rs-3028"
                    data-transition="slideoververtical"
                    data-slotamount="7"
                    data-hideafterloop="0"
                    data-hideslideonmobile="off"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="1500"
                    data-thumb="~/Images/fitness-100x50.jpg"
                    data-rotate="0"
                    data-saveperformance="off"
                    data-title="Contact">
                    <img class="rev-slidebg" src="~/Images/Default-KubtelBg.jpg" alt="Image description"
                         data-bgposition="top center"
                         data-bgfit="cover">
                    <!-- LAYER NR. 1 -->
                    <div id="slide-3028-layer-1" class="tp-caption Gym-Display tp-resizeme" style="z-index: 21; white-space: nowrap; font-family: 'Raleway'; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-185','-185','-185','-185']"
                         data-fontsize="['80','80','80','60']"
                         data-fontweight="['600','600','600','600']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        KUBtel
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div id="slide-3028-layer-2" class="tp-caption Gym-Display tp-resizeme" style="z-index: 22; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-100','-100','-100','-100']"
                         data-fontsize="['60','60','60','30']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        Our Events
                    </div>                    
                    <!-- LAYER NR. 3 -->
                    <div id="slide-3028-layer-3" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 9; white-space: nowrap; text-transform: uppercase;"
                         data-visibility="['on','on','on','off']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['0','0','0','0']"
                         data-fontsize="['20','20','20','0']"
                         data-lineheight="['30','30','30','0']"
                         data-fontweight="['800','800','800','0']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive="on"
                         data-responsive_offset="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                            KUBtel staff strives for teamwork and togetherness<br>                            
                            to achieve the result. Stronger together                           
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div id="slide-3028-layer-4" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 9; white-space: nowrap; font-size: 15px; font-weight: 400; text-transform: uppercase;"
                         data-visibility="['off','off','off','on']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['10','0','0','0']"
                         data-fontsize="['0','0','0','16']"
                         data-lineheight="['0','0','0','20']"
                         data-fontweight="['0','0','0','600']"
                         data-width="100%"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive="on"
                         data-responsive_offset="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]">
                        KUBtel seeks to fully understand<br>
                        our customers’ needs to find the<br>
                        optimal solution to return value<br>
                        to our customers.
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div id="slide-3028-layer-5" class="tp-caption Gym-Button rev-btn rev-maxround rev-hiddenicon" style="z-index: 10; white-space: nowrap; text-transform: uppercase;"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['100','90','90','90']"
                         data-fontsize="['20','20','20','20']"
                         data-lineheight="['30','30','30','30']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="button"
                         data-actions='[
                     {"event":"click","action":"simplelink","target":"_self", "url":"@Url.Content("~/Events")"}
                   ]'
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="on"
                         data-frames='[
                     {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},
                     {"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},
                     {"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 1.00);bs:solid;"}
                   ]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[12,12,12,12]"
                         data-paddingright="[35,35,35,35]"
                         data-paddingbottom="[12,12,12,12]"
                         data-paddingleft="[35,35,35,35]">
                        Learn More
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</div>

<!--slide 2-->
@*<li data-index="rs-3026"
    data-transition="slideoververtical"
    data-slotamount="default"
    data-hideafterloop="0"
    data-hideslideonmobile="off"
    data-easein="default"
    data-easeout="default"
    data-masterspeed="1500"
    data-thumb="~/Images/gym1-100x50.jpg"
    data-rotate="0"
    data-fstransition="fade"
    data-fsmasterspeed="1500"
    data-fsslotamount="7"
    data-saveperformance="off"
    data-title="Intro">
    <img class="rev-slidebg" src="~/Images/KUBtel-Homepage.jpg" alt="Image description"
         data-bgposition="center center"
         data-bgfit="cover"
         data-bgrepeat="no-repeat">*@
<!-- LAYER NR. 1 -->
@*<div id="slide-3026-layer-1" class="tp-caption Gym-Display tp-resizeme" style="z-index: 6; white-space: nowrap; font-family: 'Raleway'; text-transform: uppercase;"
          data-x="['left','center','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['120','100','100','70']"
          data-voffset="['85','85','85','85']"
          data-fontsize="['80','80','80','60']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[
      {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},
      {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
    ]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]">
         KUBtel
     </div>*@
<!-- LAYER NR. 2 -->
@*<div id="slide-3026-layer-2" class="tp-caption Gym-Display tp-resizeme" style="z-index: 7; white-space: nowrap; text-transform: uppercase;"
          data-x="['center','center','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['0','0','0','0']"
          data-voffset="['95','60','20','20']"
          data-fontsize="['40','40','40','25']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[
      {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},
      {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
    ]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]">
         For the Future
     </div>*@
<!-- LAYER NR. 3 -->
@*<div id="slide-3026-layer-3" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 8; white-space: nowrap; text-transform: uppercase;"
          data-x="['left','center','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['110','0','0','0']"
          data-voffset="['100','100','100','100']"
          data-fontsize="['30','30','30','15']"
          data-lineheight="['30','30','30','20']"
          data-fontweight="['100','100','100','400']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[
      {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
      {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
    ]'
          data-textAlign="['center','center','center','center']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]">
         <div class="headline">
             <center><h2>Vision &amp; Mission</h2></center>
         </div>
     </div>*@
<!-- LAYER NR. 4 -->
@*<div id="slide-3026-layer-4" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 9; white-space: nowrap; text-transform: uppercase;"
          data-x="['left','center','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['130','0','0','0']"
          data-voffset="['212','212','212','112']"
          data-fontsize="['20','20','20','15']"
          data-lineheight="['30','30','30','20']"
          data-fontweight="['100','100','100','400']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[
      {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
      {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
    ]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]">
         <h6>
             We aspire to become premier<br>
             ICT Solution Provider & System<br>
             Integrator in Malaysia and<br>
             Asian Region
         </h6>
     </div>*@
<!-- LAYER NR. 5 -->
@*<div id="slide-3026-layer-5" class="tp-caption Gym-Button rev-btn rev-maxround rev-hiddenicon" style="z-index: 10; white-space: nowrap; text-transform: uppercase;"
          data-x="['left','center','center','center']"
          data-y="['bottom','bottom','bottom','bottom']"
          data-hoffset="['140','0','0','0']"
          data-voffset="['95','60','20','20']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="button"
          data-actions='[
      {"event":"click","action":"simplelink","target":"_self", "url":"@Url.Content("~/Home/VisionMission")"}
    ]'
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[
      {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},
      {"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},
      {"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 1.00);bs:solid;"}
    ]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[13,13,13,13]"
          data-paddingright="[35,35,35,35]"
          data-paddingbottom="[13,13,13,13]"
          data-paddingleft="[35,35,35,35]">
         Learn More
         <i class="fa fa-chevron-right"></i>
     </div>*@
<!-- LAYER NR. 6 -->
@*<div id="slide-3026-layer-6" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 8; white-space: nowrap; text-transform: uppercase;"
          data-x="['right','center','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['110','0','0','0']"
          data-voffset="['100','100','100','100']"
          data-fontsize="['30','30','30','15']"
          data-lineheight="['30','30','30','20']"
          data-fontweight="['100','100','100','400']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[
      {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
      {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
    ]'
          data-textAlign="['center','center','center','center']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]">
         <div class="headline">
             <center><h2>Our Expertise</h2></center>
         </div>
     </div>*@
<!-- LAYER NR. 7 -->
@*<div id="slide-3026-layer-7" class="tp-caption Gym-Subline tp-resizeme" style="z-index: 9; white-space: nowrap; text-transform: uppercase;"
          data-x="['right','center','center','center']"
          data-y="['bottom','bottom','bottom','bottom']"
          data-hoffset="['130','0','0','0']"
          data-voffset="['212','212','212','112']"
          data-fontsize="['20','20','20','15']"
          data-lineheight="['30','30','30','20']"
          data-fontweight="['100','100','100','400']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[
      {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},
      {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}
    ]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]">
         <h6>
             KUBTEL seeks to fully understand<br>
             our customers’ needs to find the<br>
             optimal solution to return value<br>
             to our customers.
         </h6>
     </div>*@
<!-- LAYER NR. 8 -->
@*<div id="slide-3026-layer-8" class="tp-caption Gym-Button rev-btn rev-maxround rev-hiddenicon" style="z-index: 10; white-space: nowrap; text-transform: uppercase;"
             data-x="['center','center','center','center']"
             data-y="['bottom','bottom','bottom','bottom']"
             data-hoffset="['160','0','0','0']"
             data-voffset="['95','60','20','20']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="button"
             data-actions='[
         {"event":"click","action":"simplelink","target":"_self", "url":"@Url.Content("~/Home/Deployment")"}
       ]'
             data-basealign="slide"
             data-responsive_offset="off"
             data-responsive="off"
             data-frames='[
         {"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},
         {"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},
         {"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(114, 168, 0, 1.00);bs:solid;"}
       ]'
             data-textAlign="['center','center','center','center']"
             data-paddingtop="[13,13,13,13]"
             data-paddingright="[35,35,35,35]"
             data-paddingbottom="[13,13,13,13]"
             data-paddingleft="[35,35,35,35]">
            Learn More
            <i class="fa fa-chevron-right"></i>
        </div>
    </li>*@