@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageHeader medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/titlebackground.png"));">
    <center><h3 class="h2 g-color-white g-font-weight-600 g-line-height-1_4">PRODUCT &amp; SERVICES</h3></center>
</div>

<div class="container-fluid">
    <div class="row g-mb-30">
        <div class="col-lg-4 col-sm-6 g-col-border-top-0">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Managed Services
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    IT support services
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Helpdesk/Call Centre
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-40--sm g-pl-20--xs">
                                    Network Operation Centre
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    IT Security
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Software solutions
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                @*<div id="arrowshape" class="g-z-index-9999 g-min-width-100x g-height-60">
        <svg height="100%" width="100%" viewBox="0 0 600 400" preserveAspectRatio='none'>
            <defs>
                <pattern id="g-image" width="100%" height="100%">
                    <image xlink:href="@Url.Content("~/Images/svg/svg-bg1.svg"));" width="100%" height="100%" />
                </pattern>
            </defs>
            <path d="M300 300 L0 0 L600 0 Z" />
        </svg>

    </div>*@
                <div @*id="bgimg"*@ class="g-bg-img-hero">
                    <img class=" img-responsive g-min-width-100x" src="~/Images/BizFocus/ManagedServices2.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 g-col-border-top-0">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Telecommunications Services
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-40--md g-pl-40--sm g-pl-40--xs">
                                    Telecommunications Tower and Poles erection and leasing
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Fibre Accessories
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Bandwidth services
                                </p>
                            </div>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="row container g-pl-55">
                                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                        <p class="g-pl-20--md g-pl-20--xs">
                                            Fixed
                                        </p>
                                    </div>
                                </li>
                                <li><div class="row container g-pl-55">
                                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                        <p class="g-pl-20--md g-pl-20--xs">
                                            Wireless
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row container g-pl-55">
                                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                        <p class="g-pl-20--md g-pl-20--xs">
                                            Transmission
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row container g-pl-55">
                                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                        <p class="g-pl-20--md g-pl-20--xs">
                                            VPN
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row container g-pl-55">
                                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                        <p class="g-pl-20--md g-pl-20--xs">
                                            Metro-E
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row container g-pl-55">
                                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                        <p class="g-pl-20--md g-pl-20--xs">
                                            HSBB
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                @*<div id="arrowshape" class="g-z-index-9999 g-min-width-100x g-height-60">
        <svg height="100%" width="100%" viewBox="0 0 600 400" preserveAspectRatio='none'>
            <defs>
                <pattern id="g-image" width="100%" height="100%">
                    <image xlink:href="@Url.Content("~/Images/svg/svg-bg1.svg");" width="100%" height="100%" />
                </pattern>
            </defs>
            <path d="M300 300 L0 0 L600 0 Z" />
        </svg>

    </div>*@
                <div @*id="bgimg"*@>
                    <img class="g-min-width-100x" src="~/Images/BizFocus/tower2.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    ICT Products & Services
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--xs g-pl-20--sm g-pl-20--md">
                                    Automatic Fare Collection System
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    CCTV System
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Cabling
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    LAN/WAN
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    IOT Devices and Applications
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                @*<div id="arrowshape" class="g-z-index-9999 g-min-width-100x g-height-60">
        <svg height="100%" width="100%" viewBox="0 0 600 400" preserveAspectRatio='none'>
            <defs>
                <pattern id="g-image" width="100%" height="100%">
                    <image xlink:href="@Url.Content("~/Images/svg/svg-bg1.svg");" width="100%" height="100%" />
                </pattern>
            </defs>
            <path d="M300 300 L0 0 L600 0 Z" />
        </svg>

    </div>*@
                <div @*id="bgimg"*@>
                    <img class="g-min-width-100x" src="~/Images/BizFocus/ictproduct.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pageHeader medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/titlebackground.png"));">
    <center><h3 class="h2 g-color-white g-font-weight-600 g-line-height-1_4">SOLUTION FOCUS</h3></center>
</div>

<div class="container-fluid">
    <div class="row g-mb-30">
        <div class="col-lg-4 col-sm-6 g-col-border-top-0">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Platform Architecture
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Servers
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Storage
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Personal computers
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Printing
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@ class="g-bg-img-hero">
                    <img class=" img-responsive g-min-width-100x" src="~/Images/SolutionFocus/PlatformArch.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Services
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Managed services
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Call center
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Maintenance
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@>
                    <img class=" img-responsive g-min-width-100x" src="~/Images/SolutionFocus/Services.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Applications
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Development
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Off-the shelve
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Customization
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@>
                    <img class=" img-responsive g-min-width-100x" src="~/Images/SolutionFocus/Applications.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Security
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Data protection
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Intrusion protection
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Malicious attacks
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@>
                    <img class=" img-responsive g-min-width-100x" src="~/Images/SolutionFocus/Security.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Infrastructure
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Bandwidth services
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-40--sm g-pl-20--xs">
                                    Telco grade equipment
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    WAN
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Campus
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Cabling
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Cloud
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@>
                    <img class=" img-responsive g-min-width-100x" src="~/Images/SolutionFocus/Infras.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Communications
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    LAN
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Wifi
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    IP based
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Network
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@>
                    <img class=" img-responsive g-min-width-100x" src="~/Images/SolutionFocus/Comms.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pageHeader medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/titlebackground.png"));">
    <center><h3 class="h2 g-color-white g-font-weight-600 g-line-height-1_4">CUSTOMER OWNERSHIP PROGRAM</h3></center>
</div>

<div class="container-fluid">
    <div class="row g-mb-30">
        <div class="col-lg-4 col-sm-6 g-col-border-top-0">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Financing Facilities
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Lease to Use
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Lease to Own
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Lease to Upgrade
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@ class="g-bg-img-hero">
                    <img class="g-min-width-100x" src="~/Images/SolutionFocus/FinancingFacilities.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Concession Concept
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-40--sm g-pl-20--xs">
                                    Build, Operate, Transfer
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@>
                    <img class="g-min-width-100x" src="~/Images/SolutionFocus/ConcessionConcept.png" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2">
                <div class="g-pa-10 g-pl-30 g-bg-darkblue g-font-size-20 g-color-white">
                    Outright Purchase
                </div>
                <div class="g-pa-30 g-font-size-16 g-color-black g-bg-img-hero g-bg-svg-bg1" role="alert">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-20--md g-pl-20--sm g-pl-20--xs">
                                    Purchase & Pay
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="row container">
                                <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                <p class="g-pl-40--md g-pl-20--sm g-pl-40--xs">
                                    Payment Terms as agreed or according to payment milestone.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div @*id="bgimg"*@>
                    <img class="g-min-width-100x" src="~/Images/SolutionFocus/OutrightPurchase.png" />
                </div>
            </div>
        </div>
    </div>
</div>